:root {
  --transition: all 0.3s linear;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p {
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background: rgb(30, 146, 193);
}

.logo {
  width: 5rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  padding: 0.7rem;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-card {
  width: 20rem;
  height: 28rem;
  margin: 1.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 2rem hsl(0, 0%, 80%);
  transition: var(--transition);
}

.restaurant-card:hover {
  box-shadow: 0 0.1rem 2rem hsl(0, 0%, 70%);
  transform: scale(1.02);
}

.food-img-container {
  width: 100%;
  height: 300px;
}

.food-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 100%;
  object-fit: cover;
}
.restaurant-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.card-couisines {
  padding: 0 1rem;
}

@media screen and (min-width: 578px) {
  .restaurant-container {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .restaurant-container {
    justify-content: center;
  }
}

@media screen and (min-width: 1170px) {
  .restaurant-container {
    justify-content: flex-start;
  }
}

.filter-btn {
  border: transparent;
  padding: 0.7rem 1rem;
  background: hsl(45, 47%, 20%);
  color: #fff;
}
.filter-btn:hover {
  background: hsl(45, 47%, 50%);
}

.shimmer-btn {
  border: transparent;
  padding: 0.7rem 1rem;
  background: #f0f0f0;
  color: #f0f0f0;
  width: 10rem;
  height: 2.8rem;
}

.shimmer-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-cards {
  width: 20rem;
  height: 28rem;
  margin: 1.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 2rem hsl(0, 0%, 80%);
  background-color: #f0f0f0;
}

@media screen and (min-width: 578px) {
  .shimmer-card-container {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .shimmer-card-container {
    justify-content: center;
  }
}

@media screen and (min-width: 1170px) {
  .shimmer-card-container {
    justify-content: flex-start;
  }
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  border: 1px solid skyblue;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  box-shadow: 0 0.4rem 5rem grey;
}
.search-btn {
  margin-left: 0.5rem;
}

.form-control:active {
  border: 1px solid rgb(19, 167, 226);
}
